<app-post-toolbar
  (create)="handleCreate()"
  (refresh)="handleRefresh()"
  (search)="handleSearch($event)"
></app-post-toolbar>

<kendo-grid
  #grid
  [pageable]="false"
  [loading]="(loading$ | async)!"
  [data]="(items$ | async)!"
  [reorderable]="true"
  (columnReorder)="handleReorder($event)"
>

  <kendo-grid-column
    *ngFor="let column of (columns$ | async)"
    field="{{column.field}}"
    title="{{column.title}}"
    format="{{column.format}}"
  >
    <ng-template
      kendoGridCellTemplate
      let-dataItem
    >
      <div innerHtml="{{ dataItem[column.field] | highlight: query }}"></div>
    </ng-template>

  </kendo-grid-column>


</kendo-grid>

<div kendoDialogContainer></div>