:host-context(.theme-light){

  .text{
    color: var(--primary);
  }

}


:host-context(.theme-dark){

  .text{
    color: var(--secondary);
  }

}

:host-context(.large){

  .text{
    font-size: 2em;
  }

}

:host-context(.small){

  .text{
    font-size: 0.5em;
  }

}

.sub-card{
  border-radius: var(--border-radius);
  background-color: var(--base-bg);
  padding: 12px;;
}

