:host{
  display: flex;
  flex-direction: column;
}

.row{
  margin: 24px 0;
}

.rectangular-buttons{
  button{

    &.k-button{
      border-radius: 0;
    }
  }
}

p{
  color: var(--body-text);
}


