<div class="row default-buttons">
  <p>Buttons with default style (rounded in light, rectangular in dark)</p>
  <button kendoButton>Default</button>
  <button kendoButton [primary]="true">Primary</button>
  <button kendoButton [disabled]="true">Disabled</button>
</div>

<app-card></app-card>

<div class="row rectangular-buttons">
  <p>Buttons with rectangular style</p>
  <button kendoButton>Default</button>
  <button kendoButton [primary]="true">Primary</button>
  <button kendoButton [disabled]="true">Disabled</button>
</div>

<div class="row">
  <app-sub-card>Some other sub-card</app-sub-card>
</div>

<div class="row">
  <kendo-grid [data]="gridData" [height]="410">
    <kendo-grid-column field="ProductID" title="ID"> </kendo-grid-column>
    <kendo-grid-column field="ProductName" title="Name"> </kendo-grid-column>
    <kendo-grid-column field="Category.CategoryName" title="Category">
    </kendo-grid-column>
    <kendo-grid-column field="UnitPrice" title="Price"> </kendo-grid-column>
    <kendo-grid-column field="UnitsInStock" title="In stock">
    </kendo-grid-column>
  </kendo-grid>
</div>
