<form #form="ngForm" novalidate>
  <kendo-textbox
    required
    #title="ngModel"
    type="text"
    name="title"
    placeholder="Title"
    [ngModel]="post?.title"
    [clearButton]="true"
  >
  </kendo-textbox>
  <div class="error" *ngIf="title.errors?.required && title.dirty">
    Title is required
  </div>

  <kendo-textbox
    required
    #author="ngModel"
    type="text"
    name="author"
    placeholder="Author"
    [ngModel]="post?.author"
    [clearButton]="true"
  >
  </kendo-textbox>
  <div class="error" *ngIf="author.errors?.required && author.dirty">
    Author is required
  </div>

  <label class="k-label">
    <input
      kendoCheckBox
      type="checkbox"
      name="published"
      [ngModel]="post?.published"
    />
    Published
  </label>

  <kendo-dialog-actions>
    <button kendoButton>Cancel</button>
    <button
      kendoButton
      [primary]="true"
      [disabled]="!form.valid"
      (click)="onSubmit(form.value, form.valid)"
    >
      Create
    </button>
  </kendo-dialog-actions>
</form>
