<div class="card">

  <div class="card-wrapper">
    <div class="card-header">
      <h2>
        Header
      </h2>
    </div>
    <div class="card-content">
      <h3>Content</h3>
      <app-sub-card>Some sub-card content</app-sub-card>
    </div>

    <div class="card-footer">Footer</div>
  </div>

</div>


