.card {
  padding: 12px;
  background-color: var(--primary);
  border-radius: var(--border-radius);

  .card-wrapper{
    width: 100%;
    height: 300px;
    position: relative;

    .card-header{
      position: absolute;
      top: 0;
      color: var(--secondary);

      h2{
        margin: 0;
      }
    }

    .card-content{
      position: absolute;
      top: 50px;
    }

    .card-footer{
      position: absolute;
      bottom: 0;
    }
  }

}


