<kendo-grid
  #grid
  [pageable]="true"
  [pageSize]="(pageSize$ | async)!"
  [skip]="(skip$ | async)!"
  [data]="(items$ | async)!"
  [loading]="(loading$ | async)!"
  (pageChange)="handleChange($event)"
  (cellClick)="handleCellClick($event)"
>
  <kendo-grid-column field="name" title="Name">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      {{ dataItem.name }}
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="birth_year" title="Date of Birth">
  </kendo-grid-column>
  <kendo-grid-column field="gender" title="Gender"> </kendo-grid-column>
  <kendo-grid-column field="created" title="Created">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      {{ dataItem.created | date }}
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
