<div class="toolbar">
  <div class="left">
    <input
      #searchInput
      [placeholder]="'Search' | uppercase"
    />
    <button
      kendoButton
      [primary]="false"
      [icon]="'search'"
      [look]="'outline'"
      (click)="onRefresh()"
    ></button>
  </div>

  <div class="right">
    <button
      kendoButton
      [primary]="false"
      [look]="'outline'"
      [icon]="'reset-sm'"
      (click)="onRefresh()"
    ></button>
    <button
      kendoButton
      [primary]="false"
      [look]="'outline'"
      [icon]="'pencil'"
      (click)="onCreate()"
    >
      Edit
    </button>
    <button
      kendoButton
      [primary]="false"
      [look]="'outline'"
      [icon]="'trash'"
      (click)="onCreate()"
    >
      Delete
    </button>
    <button
      kendoButton
      [primary]="false"
      [look]="'outline'"
      [icon]="'plus'"
      (click)="onCreate()"
    >
      New
    </button>
  </div>
</div>