:host {
  width: 100%;
}

.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 8px;

  .right {
    button {
      margin: 0 4px;
    }
  }

  .left {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      height: 30px;
      border-left: 2px solid black;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      border-right: none;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      font-size: 14px;
      background: inherit;
      padding-left: 8px;
      padding-right: 8px;
      color: black;

      &:hover {
        background: white;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
