  <div class="k-drawer-link">
    <span
      class="k-icon {{ item.icon }}"
      [ngClass]="{
        'k-level-1': !item.parent && expanded,
        'k-icon-12': !item.parent
      }"
    ></span>
    <span *ngIf="expanded">{{ item.text }}</span>
    <span
      *ngIf="item.expanded && item['children'] && expanded"
      class="k-icon k-i-arrow-chevron-down"
      style="margin-left: auto"
    ></span>
    <span
      *ngIf="!item.expanded && item['children'] && expanded"
      class="k-icon k-i-arrow-chevron-right arrow-left"
      style="margin-left: auto"
    ></span>
  </div>
