
kendo-drawer{
  &.k-drawer{
    background-color: var(--base-bg);
  }
}

kendo-drawer-container {
  height: calc(100% - 48px);
  flex: 1 1 auto;
  overflow-y: hidden;
}

kendo-drawer-content {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  padding: 16px;
  background-color: var(--body-bg);
}

app-breadcrumb{

}
