<kendo-drawer-container>
  <kendo-drawer
    #drawer
    [items]="(items$ | async)!"
    [mode]="'push'"
    [mini]="true"
    [autoCollapse]="false"
    [expanded]="(expanded$ | async)!"
    (select)="handleSelect($event)"
  >
    <ng-template kendoDrawerItemTemplate let-item>
      <app-item [item]="item" [expanded]="(expanded$ | async)!"></app-item>
    </ng-template>

    <ng-template kendoDrawerFooterTemplate let-item>
      <app-footer
        [expanded]="(expanded$ | async)!"
        (click)="handleClick()"
      ></app-footer>
    </ng-template>
  </kendo-drawer>

  <kendo-drawer-content>
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
  </kendo-drawer-content>
</kendo-drawer-container>
