<kendo-grid
  #grid
  scrollable="virtual"
  [height]="300"
  [rowHeight]="36"
  [pageSize]="(pageSize$ | async)!"
  [skip]="(skip$ | async)!"
  [data]="(items$ | async)!"
  [loading]="(loading$ | async)!"
  (pageChange)="handleChange($event)"
>
  <kendo-grid-column
    field="name"
    title="Name"
    [width]="200"
  ></kendo-grid-column>
  <kendo-grid-column field="hyperdrive_rating" title="Hyperdrive rating">
    <ng-template kendoGridCellTemplate let-dataItem>
      <app-rating [value]="dataItem.hyperdrive_rating" [max]="5"></app-rating>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="length" title="Length"></kendo-grid-column>
  <kendo-grid-column field="passengers" title="Passengers"></kendo-grid-column>
  <kendo-grid-column
    field="cargo_capacity"
    title="Cargo Capacity"
  ></kendo-grid-column>
  <kendo-grid-column
    field="cost_in_credits"
    title="Cost in Credits"
  ></kendo-grid-column>
</kendo-grid>
