$border-radius: 0.25rem;
$dark-theme: false;
$primary: #42a5f5;
$secondary: #ffca28;
$info: #0dcaf0;
$success: #198754;
$warning: #ffc107;
$error: #dc3545;
$body-text: #212529;
$body-bg: #ffffff;
$headings-text: #212529;
$subtle-text: #6c757d;
$disabled-text: #8f8f8f;
$component-text: #212529;
$component-bg: #ffffff;
$base-text: #212529;
$base-bg: #f8f9fa;
$hovered-text: #16181b;
$hovered-bg: #e9ecef;
$selected-text: #ffffff;
$selected-bg: #0d6efd;
$button-text: #212529;
$button-bg: #e4e7eb;
$link-text: #0d6efd;
$link-hover-text: #0a58ca;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;

@mixin colors-light-css-variables{
  --border-radius: #{$border-radius};
  --dark-theme: #{$dark-theme};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --info: #{$info};
  --success: #{$success};
  --warning: #{$warning};
  --error: #{$error};
  --body-text: #{$body-text};
  --body-bg: #{$body-bg};
  --headings-text: #{$headings-text};
  --subtle-text: #{$subtle-text};
  --disabled-text: #{$disabled-text};
  --component-text: #{$component-text};
  --component-bg: #{$component-bg};
  --base-text: #{$base-text};
  --base-bg: #{$base-bg};
  --hovered-text: #{$hovered-text};
  --hovered-bg: #{$hovered-bg};
  --selected-text: #{$selected-text};
  --selected-bg: #{$selected-bg};
  --button-text: #{$button-text};
  --button-bg: #{$button-bg};
  --link-text: #{$link-text};
  --link-hover-text: #{$link-hover-text};
  --series-a: #{$series-a};
  --series-b: #{$series-b};
  --series-c: #{$series-c};
  --series-d: #{$series-d};
  --series-e: #{$series-e};
  --series-f: #{$series-f};
}
