<kendo-appbar [position]="'top'">

    <kendo-appbar-section>
        <h1 class="title">Kendo UI Demo</h1>
    </kendo-appbar-section>

    <kendo-appbar-spacer [width]="'32px'"></kendo-appbar-spacer>

    <kendo-appbar-section>
    </kendo-appbar-section>

    <kendo-appbar-spacer></kendo-appbar-spacer>

    <label class="k-checkbox-label" for="power-user-mode"
    >Power User Mode</label
  >
  <input type="checkbox" id="power-user-mode" [checked]="powerUserMode" kendoCheckBox (change)="handlePowerUserModeChange()"/>


    <label class="k-checkbox-label" for="dark-mode"
    >Dark Mode</label>

    <kendo-switch id="dark-mode" (valueChange)="handleDarkModeChange($event)"></kendo-switch>

    <kendo-appbar-section>
        <kendo-avatar [imageSrc]="kendokaAvatar" [shape]="'circle'" [width]="'32px'" [height]="'32px'"></kendo-avatar>
    </kendo-appbar-section>
</kendo-appbar>
