:host-context(.theme-light){
  kendo-appbar {
    height: 48px;

    &.k-appbar{
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      background-color: var(--base-bg);
    }
  }
}

:host-context(.theme-dark){
  kendo-appbar {
    height: 48px;

    &.k-appbar{
      border-bottom: 1px solid #424242;
      background-color: var(--base-bg);
      color: var(--base-text);
    }
  }
}

.title {
  font-size: 18px;
  margin: 0;
}

kendo-badge-container {
  margin-right: 8px;
}

.k-button {
  padding: 0 8px;
}

.k-avatar-solid.k-avatar-primary {
  border-color: transparent;
  background-color: transparent;
}

ul {
  font-size: 14px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
li {
  margin: 0 9px;
}

li:hover {
  cursor: pointer;
  color: var(--primary);
}

.actions .k-button {
  padding: 0;
}
