/* You can add global styles to this file, and also import other style files */
html,
body,
app-root {
  font-family: "Roboto";
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  margin: 0;
}

.k-icon {
  font-size: 20px;
}



@import "styles/themes/theme-light";
@import "styles/themes/theme-dark";
@import "styles/sizes/small";
@import "styles/sizes/large";

