:host-context(.theme-light){
  .divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

:host-context(.theme-dark){
  .divider {
    border-bottom: 1px solid #424242;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.divider {
  border-bottom: 1px solid;
}

.expand-button {
  width: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;

  span {
    margin: 0 16px;
  }

  .k-icon {
    margin-left: auto;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
  }
}
