<div class="footer">
  <div class="divider"></div>
  <div class="expand-button">
    <span *ngIf="!expanded" class="k-icon k-i-arrow-chevron-right"></span>
    <span *ngIf="expanded">Collapse</span>
    <span *ngIf="expanded" class="k-icon k-i-arrow-chevron-left"></span>
  </div>
</div>
